<h3 style="margin: 2rem auto">Sign up</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, autocomplete: "name", class: "form-control" %>
      </div>

      <div class="form-group">
          <%= f.label :age %><br />
          <%= f.number_field :age, autocomplete: "age", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Profile Photo" %><br />
        <%= f.file_field(:image) %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
          <%= f.label :biography %><br />
          <%= f.text_area :biography, autocomplete: "biography", rows: "20", class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="actions" style="margin: 3rem auto; text-align: center">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>
