<h1><%= @user.name %></h1>
<h2><%= @user.age %></h2>
<p><%= @user.biography %></p>

<% if current_user != @user %>
  <%= form_tag("/friend_requests", method: :post) do %>
    <%= hidden_field_tag(:id, @user.id) %>
    <%= submit_tag("Send friend request!", class: "btn btn-primary") %>
  <% end %>
<% end %>